# Diretórios padrão do compilador Delphi
#Win32/
#Win64/
#OSX64/
#OSXARM64/
#Android/
#Android64/
#iOSDevice64/
#Linux64/

# Binários gerados pelo compilador Delphi
*.exe
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.res
*.a
*.o
*.ocx
*.txt
*.log
*.jpeg

# Arquivos gerados automaticamente pelo Delphi
*.cfg
*.hpp
*Resource.rc

# Arquivos locais do Delphi 
*.local
*.identcache
*.mes
*.otares
*.projdata
*.tvsconfig
*.dsk

# Histórico e backups do Delphi
__history/
__recovery/
*.~*

# Arquivos de binários compilados em Delphi

dcus/

# Arquivo de estatísticas do Castalia
*.stat
